.footer {
  color: #979797;
  font-size: 13px;
  line-height: 20.8px;

  &__row {
    padding-top: 37px;

    margin: 0 -10px !important;
  }

  &__col {
    margin: 0 10px !important;

    padding: 0;
    padding-bottom: 40px;
  }

  &__underground {
    padding: 26px 0 20px 0;

    color: #979797;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.4px;
  }

  &__title {
    
    margin-bottom: 30px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
  }

  &_bg-darker-than-dark {
    background-color: #303030;
  }

  &_bg-dark {
    background-color: #2b2b2b;
  }
  
  &_text_color_light-green {
    color: #76c38f;
  }

  &_text_list {
    color: #76c38f;
    line-height: 34px;
    letter-spacing: 0.4px;
  }

  &_text_type_1 {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
  }

  &_text_type_2 {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 10px;
  }

  &_text_type_3 {
    color: #666666;
  }

  &_text_type_4 {
    line-height: 20.9px;
    margin-bottom: 13px;
    letter-spacing: 0.4px;
    transform: scaley(1.06) translateY(2px);
  }

  &_text_type_5 {
    line-height: 21px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }
}

.quick-links {

  &__item {
    background: inherit;
    border-top: none;
    border-bottom: 1px solid #404040;

    &:last-child {
      border-bottom: 1px solid #404040 !important;
    }
  }

}

.list-group_reset {
  margin-top: -5px;
}

.list-group-item_reset {
  padding: 0;
}

.form-control_reset {
  padding: 10px 11px;

  border: none;
  border-radius: 8px;

  background-color: #222222;
  color: #989898;

  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.form-group_reset {
  margin-bottom: 10px;
}