.works {
  padding-bottom: 30px;

  &__text {
    position: relative;
    z-index: 1;

    border-radius: 10px;

    padding: 8px 15px;

    background-color: #303030;
    color: #ffffff;

    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
  }

  &__line {
    position: relative;
    top: -22px;

    margin-top: -3px;
    height: 3px;
    background-color: #303030;

    margin-bottom: 30px;
  }
  

  

}